In [6]:
import pandas as pd
import pymongo

data = pd.read_csv("data.csv")
data.sample(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
70293,70294,Male,47,1,11.0,0,1-2 Year,Yes,2630.0,156.0,34,1
360046,360047,Female,35,1,37.0,1,1-2 Year,No,32328.0,152.0,251,0
179567,179568,Male,25,1,11.0,1,< 1 Year,No,24165.0,152.0,108,0
303031,303032,Female,20,1,46.0,1,< 1 Year,No,37969.0,160.0,109,0
252005,252006,Male,23,1,28.0,0,< 1 Year,Yes,24869.0,152.0,209,1

In [7]:
data.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

In [9]:
data = data.to_dict(orient='records')
#data

In [10]:
DB_name = 'proj1'
collection_name = 'proj1_data'
connection_url = "mongodb+srv://deepmalusare43:zFrfjmBd49gqoI6q@cluster0.to8xi6i.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [11]:
client = pymongo.MongoClient(connection_url)
data_base = client[DB_name]
collection = data_base[collection_name]

In [12]:
rec = collection.insert_many(data)

In [15]:
type(rec)

pymongo.results.InsertManyResult